.card {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 20rem;
    border-radius: 5px;
    height: 30rem;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.199);
    transition: 500ms ease;
}

.card:hover {
    padding: 2rem;
    height: 30rem;
    width: 23rem;
    border-radius: 15px;
}

.cardImageDiv{
    width: 100%;
} 
.image{
    border-radius: 5px;
    width: 100%;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.tagContainer p {
    font-weight: 600;
    color: white;
    margin-top: 1rem;
    padding: 0.01rem 0.4rem;
    font-size: 0.8rem;
    border-radius: 10px;
}

.tag1 {
    background-color: rgb(250, 108, 25);
}

.tag2 {
    background-color: rgb(0, 110, 255);
}

.tag3 {
    background-color: rgb(255, 217, 0);
}

.tag4 {
    background-color: green;
}

.tag5 {
    background-color: aqua;
}


.cardTextContainer {
    height: 35%;
    font-weight: 500;
}

.cardTextContainer .p1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.cardTextContainer .p2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.buttonContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.buttonContainer button {
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: 500ms ease;

}

.btn1 {
    background-color: rgba(204, 203, 203, 0.89);
    color: black;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.150);
}
.btn1:hover{
    background-color: rgba(192, 192, 192, 0.979);
    color: black;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.150);
}

.btn2 {
    background-color: rgb(27, 27, 27);
    color: rgb(201, 201, 201);
}

.btn2:hover {
    background-color: rgb(22, 22, 22);
    color: white;
}

@media screen and (max-width: 1000px){
    .card:hover{
        padding: 0px;
        width: 20rem;
    }
}